* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight:400;
    font-style:normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    background: url(../img/capa-fundo.jpg);
    background-size:cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.coluna-left {
    margin-top: 25px;
    margin-left: 110px;
}

.coluna-left .logo {
    display: grid;
    align-items: center;
}

.coluna-left .logo img{
    margin-left: 11px;
}

.coluna-left img {
    width: 240px;
    height: 100px;
}

.coluna-left a {
    color: white;
    margin-left: 60px;
    margin-top: -10px;
    font-size: 1.2rem;
}

.coluna-perfil {
    padding-top: 10px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}

.coluna-perfil img {
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.coluna-perfil i{
    color: white;
}

.coluna-perfil .foto {
    position: relative;
    height: 120px;
    width: 150px;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
    transition: all 1.5s ease;
    cursor: pointer;
    display: flex;
    padding: 20px 0;
}

.coluna-perfil .foto img{
    margin-left: 50px;
}

.coluna-perfil .foto:hover{
    width: auto;
}

.coluna-perfil .foto:hover a{
    position: relative;
    right: 50px;
}

.foto {
    transition: .35s;
    cursor: pointer;
}
.coluna-perfil:hover > :not(:hover){
    opacity: 0.4;
    transform: scale(0.9);
}

.coluna-perfil .foto:hover i{
    position: relative;
    right: 170px;

}
.coluna-perfil .foto .icone {
    display: flex;
    height: 100px;
    width: 180px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 20px;
}

.coluna-perfil .foto i{
    position: relative;
    top: 45px;
}

.foto a{
    position: relative;
    top: 40px;
    right: 50px;
    font-size: 2rem;
}










