* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight:400;
    font-style:normal;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    background: url(../img/capa-fundo.jpg);
    background-size:cover;
    background-position: center;
}

.coluna-left {
    margin-top: 25px;
    margin-left: 110px;
}

.coluna-left img {
    width: 240px;
    height: 100px;
}

.coluna-left a {
    color: white;
    margin-left: 60px;
    margin-top: -10px;
    font-size: 1.2rem;
}

.coluna-left .logo {
    display: grid;
    align-items: center;
}

.coluna-left .logo img{
    margin-left: 11px;
}

.coluna-perfil {
    padding-top: 10px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}

.coluna-perfil img {
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.coluna-perfil .foto {
    cursor: pointer;
    position: relative;
    height: 120px;
    width: 150px;
    display: flex;
    overflow: hidden;
    background: transparent;
    padding: 20px 0;
    transition: .75s ease-in-out;
}

.coluna-perfil .foto a{
    position: relative;
    top: 40px;
    right: 50px;
    font-size: 2rem;
}

.coluna-perfil .foto i{
    position: relative;
    top: 30px;
    background: rgb(20, 20, 20);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.coluna-perfil .foto img{
    margin-left: 50px;
}

.coluna-perfil .foto .icone {
    display: flex;
    height: 100px;
    width: 180px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 20px;
}

.coluna-perfil .foto:hover{
    width: auto;
}

.coluna-perfil .foto:hover a{
    position: relative;
    right: 60px;
}

.coluna-perfil .foto:hover i{
    position: relative;
    right: 180px;
    color: white;
}

.coluna-perfil:hover > :not(:hover){
    opacity: 0.4;
    transform: scale(0.9);
}












