* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --background-: #F0F4F5;
    --verde-mk: #63D391;
    --bordas-mk: #bec5ce;
    --cor-letra-nav: #205266;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
    cursor: pointer;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    place-items: center;
    padding: 8px 15px;
    background-color: white;
}
body {
    background: var(--background-);
}
header img {
    width: 230px;
}

.menu-abas .botoes {
    display: inline-block;
    height: 35px;
    width: 50px;
    margin: 0 5px;
    overflow: hidden;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.20s ease-in-out;
}

.menu-abas .botoes:hover {
    width: auto;
}

.menu-abas .botoes .icone {
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 20px;
}

.menu-abas .botoes:nth-child(odd) .icone {
    background: #205266;
}

.menu-abas .botoes:nth-child(even) .icone {
    background: #205266;
}

.menu-abas .botoes .icone i {
    font-size: 20px;
    line-height: 35px;
    color: white;
}

.menu-abas .botoes span {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 10px;
    color: #205266;
    font-weight: bold;
}

.usuario .login {
    display: inline-block;
    height: 35px;
    width: 150px;
    cursor: pointer;
}

.usuario .login i {
    height: 33px;
    width: 33px;
    color: white;
    font-size: 18px;
    background: var(--cor-letra-nav);
    border-radius: 50px;
    line-height: 33px;
}

.usuario .login span {
    padding-left: 10px;
    color: var(--cor-letra-nav);
    font-weight: bold;
    font-size: 13px;
}

main {
    width: 800px;
    height: 300px;
    display: grid;
    justify-content: top;
    background: white;
    border-color: var(--bordas-mk);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main img {
    width: 80px;
    
}