* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --background-: #F0F4F5;
    --verde-mk: #63D391;
    --bordas-mk: #bec5ce;
    --cor-letra-nav: #205266;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
    cursor: pointer;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    place-items: center;
    padding: 10px 15px;
    background-color: white;
}
body {
    background: var(--background-);
}
header img {
    width: 230px;
}

.abas-nav li{
    display: inline;
    padding: 0 10px;
    font-size: 20px;
}
i {
    color: white;
    background-color: var(--cor-letra-nav);
    border-radius: 20px;
    cursor: pointer;
}

.usuario button {
    background: var(--cor-letra-nav);
    color: white;
    display: flex;
    width: 50px;
    border-radius: 15px;
}

main {
    width: 800px;
    height: 300px;
    display: grid;
    justify-content: top;
    background: white;
    border-color: var(--bordas-mk);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main img {
    width: 80px;
    
}